@charset "utf-8";

/* Pretendard 폰트 가져오기 */

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

/* Pretendard Variable 로컬 폰트 */
@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: local('Pretendard Variable'), url('./images/PretendardVariable.woff2') format('woff2-variations');
}

/* Pretendard 기본 폰트 추가 */
@font-face {
  font-family: 'Pretendard';
  src: url(../font/PretendardVariable.ttf) format('ttf');
  font-weight: 400;
  font-display: swap;
}

.hahmlet {
  font-family: "Hahmlet", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}
.nanum-gothic-regular {
  font-family: "Nanum Gothic", serif;
  font-weight: 400;
  font-style: normal;
}
.noto-sans-kr-400 {
  font-family: "Noto Sans KR", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.do-hyeon-regular {
  font-family: "Do Hyeon", serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-400 {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.noto-sans-400 {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.bitter-400 {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.gowun-batang-regular {
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
}
/* 변수 선언 */
:root {
    /* --primary-color: #FF6347; */
    --primary-color: #C8A6DF;
    --primary-WCAG-color: #8B68AB;
    /* --primary-WCAG-color: #FF6347; */
    --primary-rgb-color: rgba(200, 166, 233, 0.5);
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --text-h1-24px:2.4rem;
    --text-title-20px:2rem;
    --text-subtitle-18px:1.8rem;
    --text-body-16px: 1.6rem; 
    --text-title-20px: 2rem;
    --text-subtitle-18px: 1.8rem;
    --text-heading-1: 2.4rem;
    --text-: 1.8rem;
  }
  
  
  /* 기본 텍스트 설정 */
  html {
    scroll-behavior: smooth;
    font-size:62.5%; /* 1rem = 10px */
    font-family:"Pretendard", "Do Hyeon", "Nanum Gothic", "DM Serif Text", 'Noto Sans KR', "Roboto", "Bitter","Hahmlet", 'Malgun Gothic', sans-serif;
    overflow-x: hidden;
    
  }
  
  body {
   position: relative;
    width: 100%;
    max-width: 1920px;
    font-size: 1.6rem;
    /* color: var(--white-color);
    background: var(--black-color); */
    
  }
  
  
 
  .tb{
    display: none;
  }
  
  .inner {
    width: 120rem;
    margin: 0 auto;
  }
  
  .en{
    font-family: "Roboto", serif;
    /* font-family: "Bitter", serif; */
  }
  .kr{
    /* font-family: "Noto Sans", serif; */
    /* font-family: "Do Hyeon", serif; */
    font-family: "Nanum Gothic", serif;
    /* font-family: "Gowun Batang", serif; */
  }

.header{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: calc(100% - 8rem);
    margin-top: 2rem;
   padding: 0 4rem;
    font-size: var(--text-subtitle-18px); 
    color: var(--white-color);
    justify-content: space-between;
    align-items: center;
    border-radius: 3.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow: 0 0 20px rgba(85, 85, 85, 0.7);
}

.menu{
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.menu a{
    display: block;
    width: 100%;
}
.menu a:hover,.menu a:active{
    color: var(--primary-color);  
}
.menu li a:after {
    display: block;
    content: "";
    background: var(--primary-color);
    width: 0;
    height: 1px;
    transition: all .3s;

  }
  
  .menu li a:hover:after {
    width: 100%;
  }

/* PORTFOLIO 인트로 페이지*/

.intro{
  position: relative;
  position: sticky;
  width: 100vw;
  height: 100vh;
  color: var(--white-color);
}
.intro::before{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  content: '';
  width: 50%;
  height: 100vh;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 40%, rgba(255,255,255,0) 100%);
}
.introText{
  flex-direction: column;
  gap: 4rem;
  border-radius: 1.6rem;
  padding-left: 16rem;
  margin-right: auto;
  animation: slideUp 2s ease-in-out forwards;
}
@keyframes slideUp {
	from { 
    opacity: 0; 
    transform: translateY(100%); 
  }
	to { opacity: 1; 
    transform: translateY(0); 
  }

}
.introText h2{
  font-size: 12rem;
}
.introText h3{
  font-size: 4rem;
}
/* .introText p:nth-of-type(1){
  font-size: var(--text-title-20px);
  line-height:200%;

} */
.scrollNotice {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  text-align: center;
  font-weight: bold; 
  color: #888; 
  animation: blink 1s infinite alternate;
}


@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0.5; }
}
.neuru{
  gap: 2rem;
}
.btn {
  display: block;
  width: 20rem;
  height: 4rem;
  background: rgba(0, 0, 0, 0);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 1.6rem;
  text-align: center;
  line-height: 4rem;
  font-weight: bold;
}
.btn:hover,.btn:active{
  background: var(--primary-color);
  color: var(--white-color);
}


.intro video{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleY(-1);
  pointer-events: none;
}

/* about me */
.container{
  position: relative;
  width: 100vw;
  height: 250vh; 
}


.slide {
  width: 100vw;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s ease-in-out;
}

.aboutMe{

  width: 100vw;
  min-height: 100vh;
   margin: 0;
   color: var(--black-color);
   background:var(--white-color);
  
  }
  
  
  .aboutWrap{
    position: sticky;
    top: 0;
    width: calc(100% - 4rem);
    height: 100vh;
    gap: 4rem;
    justify-content: space-evenly;
  }
  .img{
    width: 40%;
    height: 100vh;
    overflow: hidden;
  }
   .img img{
    width: 100%;
    height: 100%;
  object-fit: cover;
  }
  .img img:hover{
    transform: scale(1.1);
  }
  .right {
    width: 60%;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
   gap: 2rem;
    animation: slideUp 2s ease-in forwards;
  }


.right h2{
   font-size: 4rem;
}
.right p{
 font-size: var(--text-subtitle-18px);
 font-weight: bold;
 line-height: 200%;
}


.right dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

dt {
  font-weight: bold;
  color: var(--primary-WCAG-color);
  padding-bottom: 1rem;
}

dd {
  padding-bottom: 2rem;
}
dd a{
  text-decoration: underline;
}
dd span{
  font-weight: bold;
}
/* skills */
.skills h3{
  color: var(--primary-WCAG-color);
  margin-bottom: 1rem;
}


.skillsWrap li{
  font-size: var(--text-subtitle-18px);
  font-weight: bold;
  text-align: center;
}
.logos{
  justify-content:space-evenly;
  align-items: center;
  flex-wrap: wrap; 
gap: 1rem;
}
.logos li{
  width: 10rem;
  height: 10rem;
  padding: 1rem 0;
  border: 2px solid var(--primary-color);
  border-radius: 1.6rem;
  text-align: center;
  font-size: 1.2rem;
  background: rgba(255, 255, 255); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* 사파리 지원 */
  border: 1px solid rgba(255, 255, 255, 0.3); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  line-height: 3rem;
  color: var(--text-color);
}
.logos li:hover{
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.logos li img {
  display: block;
  margin: 0 auto;
}

/* project 가로스크롤*/
.horizontal-scroll-container {
    margin: 0;
    width: 300vw;
    height: 100vh;
    background: var(--white-color);
    color: var(--black-color);
    
  }
 
  /* 마우스 커서 */
.cursor {
  position: absolute;
  width: 8rem;
  height: 8rem;
  z-index: 5;
  background: var(--primary-color);
  backdrop-filter: blur(4px); /* 블러 효과 */
  -webkit-backdrop-filter: blur(4px); /* 사파리 지원 */
  box-shadow: 0 0 20px rgba(85, 85, 85, 0.3);
  color: var(--white-color);
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;

}
.cursor::before,.cursor::after{
  position: absolute;
  color: var(--primary-color);
}
.cursor::before 
{
content: "◀";
left: -25%;
}
.cursor::after{

  content: "▶";
  right: -25%;
}
  .scroll-content {
    width: 100%;
    height: 100%;
  }
  
  .con {
    flex: 0 0 100vw; 
    width: 100%;
    height: 100%;
    padding: 12rem;
    background: var(--black-color);
    color: var(--white-color);
  }

  .projectIntro{
    position: relative;
   z-index: 1;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    text-align: right;
   padding: 8rem;
  }
 
  .projectIntro::before{
    position: absolute;
    z-index: -1;
    left: 0;
    margin-left: 8rem;
    content: '';
    width: 50%;
    height:50%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(../images/computer-2557644_1920.jpg) center/cover no-repeat;
   
  }
  .projectIntro h2, .projectIntro p{
    opacity: 0;
    animation: right 2.5s ease-in-out forwards; 
  }
  @keyframes right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

  .title{
    font-size: var(--text-h1-24px);
    margin-bottom: 4rem;
  }
 
  .projectIntro h2{
    font-size: 8rem;
  }
  .projectIntro p{
    line-height: 200%;
  }
  .content{
    justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
/* project image */
.image{
  flex-basis: 40%;
  border-radius: 3.2rem;
  overflow: hidden;
  position: relative;
}
.image:hover{
  border: 2px solid var(--primary-color);
}
.image a{
  display: block;
  width: 100%;
} 
.image img{
  max-width: 100%; 
  height: auto; 
  vertical-align: top;
  }
.image .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: 0.2s;
}
.image:hover .overlay {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  
}
.overlay a {
  font-size: var(--text-title-20px);
  color: var(--primary-color);
font-weight: bold;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* project txt */
.item{
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
  flex: 1;
  }
  .title span{
    color: var(--primary-color);
  }
  .txt{
    font-size: var(--text-subtitle-18px);
    line-height: 150%;
    
  }
 
  .txt span{
    color: var(--primary-color);
  }
  .item table{
    width: 100%;
  }
  .item table tr th{
    text-align: left;
    padding: 1rem;
    border-bottom: 2px solid var(--white-color);
  }
  .item table tr td{
    padding: 1rem;
    border-bottom: 1px solid var(--white-color);
  }
 
 
  
  
  /* design */
  .design{
    background: var(--white-color);
    color: var(--black-color);
    padding: 8rem 0;
  }

  /* 탭메뉴 */
  .tabs {
    width: 100%;
    height: 100%;
    padding: 2rem;
    border-radius: 1.6rem;
    overflow: hidden;
  }
  input {
    display: none;
  }
  .tabsMenu {
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  .tabsMenu label {
    background: transparent; 
    color: var(--black-color); 
    border: 2px solid #000; 
    padding: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 3.2rem;
}

/* tab1이 선택시 */
#tab1:checked ~ .tabsMenu label[for="tab1"],
#tab2:checked ~ .tabsMenu label[for="tab2"]{
    background: var(--primary-color); 
    color: var(--white-color); 
    border-color: var(--primary-color);
}

/* tab2가 선택시(tab1 스타일 제거 + tab2 스타일 적용) */
#tab2:checked ~ .tabsMenu label[for="tab1"] {
  background: transparent; 
  color: var(--black-color); 
  border: 2px solid var(--black-color); 
}

  .tabsContent {
   width: 100%; 
    display: flex;
    width: 100%;
    flex-grow: 1; 
  overflow: hidden;
  padding: 1rem;
  }
  .tabsContent .item1,
  .tabsContent .item2 {
      display: none; /* 초기 숨김 */
  }
  
  #tab1:checked ~ .tabsContent .item1,
  #tab2:checked ~ .tabsContent .item2 {
    display: block;
  }
  
  .tabsCon {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
  }

.item1 p{
  text-align: center;
}
.banner img {
  object-fit: cover; 
  width: 100%;
  height: 100%;
}

.animalBanner img{
 height: 20rem;
object-fit: contain;
}
.graphic div img{
  width: 20rem;
  height: 20rem;
 object-fit: cover;
}


  .graphic {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem; 
    justify-content: space-evenly; 
    padding: 2rem;
}

/* 이미지 스타일 */
.graphic  li{
  overflow: hidden;
  border-radius: 1.6rem; 
  transition: transform 0.3s ease;
}
.graphic  li img:hover{
  transform: scale(1.1);
}
.graphic  li img {
  width: 100%;
  height: 20rem;
}
.item2 p{
  text-align: center;
}



/* footer */
.footer {
  width: 100vw;
  background: var(--black-color);
  color: var(--white-color);
  align-items: center;
  justify-content: center;
}

.footer .f_wrap {
  gap: 8rem;
  padding: 6rem 0;
}

.footer .f_wrap address .mail {
  font-size: 2rem;
  font-weight: bold;
}

.footer .f_wrap address p {
  font-size: 1.6rem;
  padding-bottom: 2rem;

}

.footer .f_wrap address p strong {
  font-size: 1.6rem;
  font-weight: normal;
}
  
/* 화살표 버튼 */
  .top_btn {
    position: fixed; 
    justify-content: center;
    align-items: center;
    bottom: 2rem; 
    right: 4rem; 
    width: 4rem; 
    height: 4rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%; 
    box-shadow: 0 0 1rem rgba(65, 60, 60, 0.5);
    transition: transform 0.3s ease; 
  }
  
  .top_btn:hover {
    transform: scale(1.1); 
    background-color:var(--primary-WCAG-color); 
  }
  

 