
  /* 미디어 쿼리 */
@media (max-width: 1024px) {
  .tb{
    display: block;
}
.pc{
   display: none;
}
.inner{
  width: calc(100% - 4rem);
}
body {

    max-width: 1024px;
 margin: 0;

  }
  /* header */
.header{
  height: 4rem;

}
  .gnb2{
    display: flex;
    flex-direction: column; /* 가로 정렬로 변경 */
    justify-content: center; /* 가운데 정렬 */
    align-items: center; 
    gap: 2rem;
  }
  .toggle_btn,
.toggle_c_btn {
position: fixed;
/* top: 1rem; */
right: 2rem;
height: 4rem;
background: transparent;
border: none;
cursor: pointer;
z-index: 100;
}
.toggle_btn img,
.toggle_c_btn img{
  width: 2rem;
  height: 2rem;
}
.toggle_btn.active{
display: block;
}
.toggle_c_btn{
display: none;
}
.toggle_c_btn.active{
display: block;
margin-bottom: 5rem;
}
.menu{
position:fixed;
 top: -50%;
 right: -120%;
width: 40rem;
height: 100vh;
padding: 6rem 2rem;
box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
transition: right 0.5s ease; /* 오른쪽에서 왼쪽으로 슬라이드 */
z-index: 99;
background: var(--black-color);
}
.menu.active{
display: block;
right: -10%;
}
.menu li{
padding: 2rem;
}
.menu li a:hover:after {
  width: 25%;
}

.dimmer {
  display: none;
  position: absolute;
  top: -100%;
  left: -15%;
  right: 0;
  width: 200vw;
  height: 200vh; /* 높이 확실하게 설정 */
  background: rgba(255, 255, 255, 0.3); /* 어두운 배경 */
  z-index: 98;
}

.dimmer.active {
  display: block;
}
/* 인트로 페이지 */
.introText {
  animation: in 1.5s ease-in-out;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.introText h2{
  font-size: 8rem;

}
.introText h3{
  font-size: 4rem;
 
}

.btn {
  width: 100%;
}
/* aboutMe 페이지 */
.aboutWrap{
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}
.img {
  width: 100%;
  height: 40vh; 
}

.img img {
vertical-align:bottom;
}

.right {
  width: 100%; 
  height: 60vh; 
 gap: 1rem;
  animation: slideUp 2s ease-in forwards;
  padding:2rem; 
}


.right h2 {
  font-size: 2.4rem;
  padding: 0;
}

.right p {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 150%;
  margin-bottom: 1rem; 
}
 
  .logos li{
    width: 4rem;
    height: 4rem;
    padding: 0.5rem 0;
  }
  .logos li img {
   width: 80%;
  }
 
.cursor {
  width: 6rem;
  height: 6rem;
  z-index: 5;
}
/* project */
.con {
  padding: 8rem 4rem;
}
.projectIntro::before{
  position: absolute;
  z-index: -1;
  left: 0;
  margin-left: 4rem;
  content: '';
  width: 50%;
  height:50%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(../images/computer-2557644_1920.jpg) center/cover no-repeat;
}
.item {
  gap: 1rem;
}
/* project image */
.image{
  flex-basis: 50%;
}
  .graphic {
    grid-template-columns: repeat(3, 2fr);
  }
  .f_wrap{
    flex-direction: column;
  }
}

