@media (max-width: 768px) {

  body {
    max-width: 767px;

  }
.pc,
  .tb {
    display: none;
  }
  
  header {
    padding: 2rem;
  }
  header .logo img{
  width: 80%;
  }
  header .icon {
    padding-right: 0px;
  }
  .swiper-slide a div h3{
    font-size: 1.4rem;
    padding-bottom: 1rem;
    }
  .swiper-slide a div p{
    font-size: 2.8rem;
    line-height: 2.8rem;
  }
  .title{
    line-height: 3.2rem;
    font-size: 1.6rem;
    color: #cbb089;
  }
  
  .sub_title {
    margin-bottom: 10rem;
    font-size: 3.2rem;
  }
  
  .artSwiper .swiper-slide img {
    width: 100%;
    max-width: 250px;
  }
  .artSwiper .swiper-slide dl dd:nth-of-type(1) {
    font-size: 1.8rem;
    padding-top: 30px;
  }
  .MD_PICK .MD_page {
   padding: 0;
    width: calc(100% - 40px);
 
     
  }
  .MD_page .MD_txt{
  padding: 320px 20px 20px;
  }
  .MD_PICK .MD_page img{
display: block;
   max-width: 100%;
  height:50%;
  top: 0;
  left: 0;
  }
  .MD_page .MD_txt dd{
    font-size: 1.4rem;
  }
  .MD_page .MD_txt dd:nth-of-type(2){
    font-size: 2.2rem;
    padding: 10px 0 15px 0;
    }
  .MD_txt .readMore1{
    margin-top: 10px;
  }
  .N_wrap > div {
    flex: 1 1 calc(50% - 20px); 
    max-width: calc(50% - 20px);
}
.N_wrap dl  {
width: 100%;

}
.N_wrap .img3{
  display: none;
}
.N_wrap .box img {
  width: 100%;
  height: 220px; 
  object-fit: cover;
}
.box_con{
 top: 60%;
}
.N_wrap .box_con dl dd:nth-of-type(2) {
  font-size: 1.8rem;

}
  .BAEXANGGALLERY{
    padding: 40px 0;
    height: 100%;
  }
  .BAEXANGGALLERY span{
    display: block;
  }
  .BAEXANGGALLERY p:nth-of-type(1) {
  line-height: 3.2rem;
  padding-bottom: 10px;
}
.REVIEW .R_wrap > div {
  flex: 1 1 calc(50% - 20px);
  max-width: calc(50% - 20px);
}
.R_wrap{
  width: 100%;
  justify-content: space-between;
  gap: 2px;
}
.R_wrap div img {
  width: 100%;
 height: 180px; 
  object-fit: cover;
}
.R_wrap dl div{
  flex-direction: column;
 gap: 0;
 padding: 20px 0;
 line-height: 2.4rem;
}

.R_wrap dl div dd:nth-of-type(1)::after{
 display: none;
}

  footer .footer {
    width: 100%;
    height: auto;
    background: #000;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}